In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

from pathlib import Path

### Read the file
Here, it is a question of recovering the file available in downloading directly via the site: https://www.kaggle.com

In [10]:
file_path = r'C:\Users\Brani\OneDrive\Documents\GitHub\Data-Science-Projects\dataset\netflix_titles.csv'

In [11]:
df = pd.read_csv(file_path)
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

### 2. Display the  dimensions of thz dataframe
display the dimensions of the dataframe, i.e. the number of rows and the number of columns. This will allow you to know the number of movies/series stored in this table (number of rows), as well as the number of variables (number of columns).

In [52]:
df.shape

(8807, 12)

### 3. Counting movies and series

In [50]:
# 1st method
df.type.value_counts()

Movie      6131
TV Show    2676
Name: type, dtype: int64

In [51]:
# 2ed method
df.loc[:, ['type']].value_counts()

type
Movie      6131
TV Show    2676
dtype: int64

In [48]:
# 3th method
df.iloc[:, 1].value_counts()

Movie      6131
TV Show    2676
Name: type, dtype: int64

### 4. Generate the statistical summary of the dataframe
Generate the code to display the statistical summary of the dataframe for all the variables.

In [56]:
df.describe(include='all')

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
count,8807,8807,8807,6173,7982,7976,8797,8807.000000,8803,8804,8807,8807
unique,8807,2,8807,4528,7692,748,1767,NaN,17,220,514,8775
top,s1,Movie,Dick Johnson Is Dead,Rajiv Chilaka,David Attenborough,United States,"January 1, 2020",NaN,TV-MA,1 Season,"Dramas, International Movies","Paranormal activity at a lush, abandoned prope..."
freq,1,6131,1,19,19,2818,109,NaN,3207,1793,362,4
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.180198,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.819312,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1925.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2013.000000,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.000000,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019.000000,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021.000000,NaN,NaN,NaN,NaN

### 5. Count the missing values
We write the code to display the number of missing values per column of the dataframe.

In [58]:
df.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

### 6. Explore missing values

#### a. On the column of production directors
We write the code to select the rows for which the value is missing in the director column, then count the number of movies and series without a production director.

Action : écrire le code pour sélectionner les lignes pour lesquelles la valeur est manquante dans la colonne director, puis compter le nombre de films et de séries sans directeur de production.

Indices :

Créer un sous-tableau contenant uniquement les lignes avec une valeur manquante dans la colonne director grâce à l’attribut loc et à la méthode isna().

Sélectionner la colonne type sur ce sous-tableau grâce à l’attribut loc et compter les occurrences de chaque modalité avec la méthode value_counts().

In [89]:
# 1st method
# df[df.director.isna()].type.value_counts()
df.loc[df.director.isna()].type.value_counts()

TV Show    2446
Movie       188
Name: type, dtype: int64

In [91]:
# 1st method
df.loc[df.loc[:, 'director'].isna()].type.value_counts()

TV Show    2446
Movie       188
Name: type, dtype: int64

#### b. On the actors column
we write the code to select the movies and series without actors, i.e. those for which the value in the cast column is missing. Then display the ten categories (listed_in column) that have the most missing values in the cast column.

In [105]:
# df.loc[:, ['type', 'cast']][df.cast.isna()]
df.loc[df.cast.isna()].type

0         Movie
3       TV Show
10      TV Show
14      TV Show
16        Movie
         ...
8746      Movie
8755    TV Show
8756      Movie
8763      Movie
8803    TV Show
Name: type, Length: 825, dtype: object

In [110]:
df.loc[df.cast.isna()].listed_in.value_counts()[:10]
# df.loc[df.cast.isna()].listed_in.value_counts()

Documentaries                                         183
Documentaries, International Movies                   117
Docuseries                                             47
Crime TV Shows, Docuseries                             36
Reality TV                                             31
Documentaries, Sports Movies                           30
Crime TV Shows, Docuseries, International TV Shows     24
Kids' TV                                               23
Documentaries, International Movies, Sports Movies     21
Documentaries, Music & Musicals                        20
Name: listed_in, dtype: int64

### 7. Remove duplicated rows
we write the code to count the number of duplicated rows and to remove them from the dataframe.

In [113]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
8802    False
8803    False
8804    False
8805    False
8806    False
Length: 8807, dtype: bool

In [126]:
df.drop_duplicates().shape

(8807, 12)

### 8. Count the number of films/series produced by the United States and France
We write the code to count the number of films/series produced by the United States and France.

In [123]:
df.loc[df.country == 'United States'].type.value_counts(), df.loc[df.country == 'United States'].shape

(Movie      2058
 TV Show     760
 Name: type, dtype: int64,
 (2818, 12))

In [125]:
df.loc[df.country == 'France'].type.value_counts(), df.loc[df.country == 'France'].shape

(Movie      75
 TV Show    49
 Name: type, dtype: int64,
 (124, 12))

### 9. Display the oldest content available on Netflix
Action: write the code to display the line of content for which the actual release year (release_year) is the oldest

In [130]:
df.loc[df.release_year.min()]

show_id                                                     s1926
type                                                      TV Show
title                                             You Cannot Hide
director                                                      NaN
cast            Blanca Soto, Eduardo Noriega, Iván Sánchez, Ma...
country                                                    Mexico
date_added                                        October 1, 2020
release_year                                                 2020
rating                                                      TV-MA
duration                                                 1 Season
listed_in       Crime TV Shows, International TV Shows, Spanis...
description     A nurse and her daughter flee her husband’s dr...
Name: 1925, dtype: object

### 10. Afficher le film avec la durée la plus longue sur Netflix
a. Nouvelle notion : les méthodes str
Il existe des méthodes Pandas spécifiques pour traiter des données de type chaînes de caractères (str en Python). Généralement, ces méthodes sont précédées du terme str (qui est un attribut) et sont dédiées, comme leur nom l’indique, au traitement des données de type str spécifiquement.

Ces méthodes permettent, entre autres, de remplacer des chaînes de caractères par d’autres (str.replace()) ou encore de sélectionner des lignes contenant une sous-chaîne de caractères (str.contains()). Ce sont les deux méthodes que nous verrons dans ce chapitre. Retenez simplement que si vous avez des chaînes de caractères à traiter, il faut aller regarder spécifiquement la partie de la documentation Pandas dédiée à ce thème : https://pandas.pydata.org/docs/user_guide/text.html

Syntaxe générale de str.replace()

In [167]:
duree = df[df.type == 'Movie'].duration
duree = duree.str.replace(' min', '')
duree = duree.dropna()
duree = duree.astype(int)
duree = duree.sort_values(revers=True)
duree

TypeError: sort_values() got an unexpected keyword argument 'revers'

In [136]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...